@model Finances.WebApp.Models.DemostrativoViewModel

@{
    ViewBag.Title = "Financias";
}

<h2>Lançamentos</h2>

<p><a asp-controller="Lancamento" asp-action="Create">Criar Novo Lançamento</a></p>
<br />

<div class="form-group">
    <label asp-for="ValorTotal" class="col-md-2 control-label"></label>
    <span style="Color: @Model.Cor">
        @Html.DisplayFor(model => model.ValorTotal)
    </span>
    <a asp-controller="Lancamento" asp-action="Index">Ver</a>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Percentual</label>
    @Html.DisplayFor(model => model.Percentual)%
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Gasto
        </th>
        <th>
            Orçamento
        </th>
        <th>
            Percentual
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Itens)
    {
        <tr style="color: @item.Cor">
            <td style="color: @item.CategoriaCor">
                <span style="color: @item.Cor"><b>*</b></span>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
            <td style="color: Black">
                @Html.DisplayFor(modelItem => item.Percentual)% 
            </td>
            <th><a asp-controller="Lancamento" asp-action="LancamentoPorCategoria" asp-route-CategoriaID="@item.CategoriaID">Ver</a></th>
        </tr>
    }

</table>
<br />