@model Finances.WebApp.Models.DemostrativoViewModel

@{
    ViewBag.Title = "Demonstrativo";
}

<h2>Demonstrativo</h2>

<div class="form-group">
    <table class="table">
    <tr>
        <th class="col-md-3">
            Referência
        </th>
        <th class="col-md-3">
            Gasto Total
        </th>
        <th class="col-md-2">
            Orçamento
        </th>
        <th class="col-md-3"></th>
        </th>
        <th></th>
    </tr>
    <tr style="Color: @Model.Cor">
        <th style="Color: Black">12/2018</th>
        <td>
            <i class="glyphicon glyphicon-triangle-right"></i>
            @Html.DisplayFor(model => model.ValorGastoTotal)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrcamentoTotal)
        </td>
        <td></td>
        <td>
            <a asp-controller="Gasto" asp-action="Index" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
        </td>
    </tr>
    </table>
</div>
<br />
<h3>Orçamento</h3>
<table class="table">
    <tr>
        <th class="col-md-3">
            Categoria
        </th>
        <th class="col-md-1">
            Total
        </th>
        <th class="col-md-2">
            Gasto
        </th>
        <th class="col-md-2">
            Orçamento
        </th>
        <th class="col-md-3"></th>
        <th></th>
    </tr>
    @foreach (var item in Model.DemostrativoOrcamentosCategoria)
    {
        <tr style="color: @item.Cor">
            <td>
                <i class="glyphicon glyphicon-triangle-right" style="color: @item.Cor"></i>
                @if (item.Categoria.Pai != null)
                {
                    <span class="badge badge-pill" style="background-color: @item.Categoria.Pai.Cor">
                    @if(!String.IsNullOrEmpty(item.Categoria.Pai.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Pai.Icone"></i>
                    }
                    </span>
                }
                <span class="badge badge-pill categoria" style="background-color: @item.Categoria.Cor;">
                    @if(!String.IsNullOrEmpty(item.Categoria.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Icone"></i>@:&nbsp;
                    }
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </span>
            </td>
            @if (item.Categoria.Pai == null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.ValorGastoCompleto)
            </td>
            }
            else
            {
                <td></td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ValorGasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
            <td></td>
            <td><a asp-controller="Gasto" asp-action="GastoPorCategoria" asp-route-CategoriaID="@item.Categoria.ID" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    }
</table>
<br />
<h3>Detalhamento</h3>
<table class="table">
<tr>
    <th class="col-md-3">
        Categoria
    </th>
    <th class="col-md-1">
        Total
    </th>
    <th class="col-md-2">
        Gasto
    </th>
    <th>Percentual</th>
    <th class="col-md-2"></th>
    <th></th>
</tr>
    @foreach (var item in Model.DemostrativoCategoria)
    {
        <tr style="color: @item.Cor">
            <td>
                @if (item.Categoria.Pai != null)
                {
                    <span class="badge badge-pill" style="background-color: @item.Categoria.Pai.Cor">
                    @if(!String.IsNullOrEmpty(item.Categoria.Pai.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Pai.Icone"></i>
                    }
                    </span>
                }
                <span class="badge badge-pill categoria" style="background-color: @item.Categoria.Cor;">
                    @if(!String.IsNullOrEmpty(item.Categoria.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Icone"></i>@:&nbsp;
                    }
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </span>
            </td>
            @if (item.Categoria.Pai == null)
            {
                <th>
                    @Html.DisplayFor(modelItem => item.ValorGastoCompleto)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorGasto)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Percentual) %
                </th>
            }
            else
            {
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorGasto)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Percentual) %</td>
            }

            <td></td>
            <td><a asp-controller="Gasto" asp-action="GastoPorCategoria" asp-route-CategoriaID="@item.Categoria.ID" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    }
    @if (Model.NaoCategorizado != null)
    {
        <tr style="color: @Model.NaoCategorizado.Cor">
            <td>
                <i class="glyphicon glyphicon-asterisk"></i>
                <span>Não Categorizado</span>
            </td>
            <th>
                @Html.DisplayFor(model => model.NaoCategorizado.ValorGastoCompleto)
            </th>
            <td></td>
            <th>@Html.DisplayFor(model => model.NaoCategorizado.Percentual) %</th>
            <td></td>
            <td><a asp-controller="Gasto" asp-action="GastoNaoCategorizado" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    }
</table>
<canvas id="chartCategoria" width="340" height="340"></canvas>
<script type="text/javascript">
    var data = [
      @foreach (var item in Model.DemostrativoCategoria)
      {
        @if (item.Categoria.Pai == null)
        {
            <text>
            {
                value: @item.ValorGastoCompleto,
                color: '@item.Categoria.Cor',
                label: '@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Categoria.Nome))'
            },
            </text>
        }
      }
      @if (Model.NaoCategorizado != null)
      {
        <text>
        {
            value: @Model.NaoCategorizado.ValorGastoCompleto,
            color: '@Model.NaoCategorizado.Cor',
            label: 'Não Categorizado'
        },
        </text> 
      }
    ];

    var ctx = document.getElementById("chartCategoria").getContext("2d");
    var grafico = new Chart(ctx).Pie(data);
</script>

<br />