@model Finances.WebApp.Models.DemostrativoViewModel

@{
    ViewBag.Title = "Finanças";
}

<h2>Finanças</h2>

<p><a asp-controller="Gasto" asp-action="Create"><i class="glyphicon glyphicon-edit"></i> Lançar Novo Gasto</a></p>
<br />

<div class="form-group">
    <label asp-for="ValorGastoTotal" class="col-md-2 control-label"></label>
    <span style="Color: @Model.Cor">
        @Html.DisplayFor(model => model.ValorGastoTotal)
    </span>
    &nbsp;<a asp-controller="Gasto" asp-action="Index" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a>
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Gasto
        </th>
        <th>
            Orçamento
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrcamentosCategoria)
    {
        <tr style="color: @item.Cor">
            <td style="color: @item.Categoria.Cor">
                <i class="glyphicon glyphicon-triangle-right" style="color: @item.Cor"></i>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorGasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
            <td><a asp-controller="Gasto" asp-action="GastoPorCategoria" asp-route-CategoriaID="@item.Categoria.ID" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    }
    @if (Model.NaoCategorizado != null)
    {
        <tr style="color: @Model.NaoCategorizado.Cor">
            <td>
                <i class="glyphicon glyphicon-asterisk"></i>
                <span style="color: Black">Não Categorizado</span>
            </td>
            <td>
                @Html.DisplayFor(model => model.NaoCategorizado.ValorGasto)
            </td>
            <td>
            </td>
            <td><a asp-controller="Gasto" asp-action="GastoNaoCategorizado" title="Visualizar"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    }

</table>
<br />