@model IEnumerable<Finances.WebApp.Models.GastoViewModel>

<h2>@ViewBag.Title</h2>

<p><a asp-action="Create"><i class="glyphicon glyphicon-edit"></i> Lançar Gasto</a></p>
<br />

<table class="table">
    <tr>
        <th>
            Dia
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @if (item.Categoria.Pai != null)
                {
                    <span class="badge badge-pill" style="background-color: @item.Categoria.Pai.Cor">
                    @if(!String.IsNullOrEmpty(item.Categoria.Pai.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Pai.Icone"></i>@:&nbsp;
                    }
                    </span>
                }
                <span class="badge badge-pill categoria" style="background-color: @item.Categoria.Cor;">
                    @if(!String.IsNullOrEmpty(item.Categoria.Icone))
                    {
                        <i class="glyphicon glyphicon-@item.Categoria.Icone"></i>@:&nbsp;
                    }
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </span>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID" 
                    onclick="return confirm('Deseja apagar o gasto do dia @item.Data.Day no valor R$@item.Valor ?');" title="Apagar"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
    }

</table>
<br />